* text=auto eol=lf
*.gitconfig text eol=lf
# Enforce LF for source files
*.sh text eol=lf
*.js text eol=lf
*.css text eol=lf

# Enforce CRLF for Windows-specific files
*.bat text eol=crlf


*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
